@{
    ViewBag.Title = "What's is Warehouse APP?";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<h6>
    This application was created to make easier common tasks usually done with spreadsheets.
    Create, edit, read and delete information will be now too much fast and intuitive.
</h6>
