@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Yzar Development<br />
    TESCI<br />
    <abbr title="Phone">P:</abbr>
    +52 (55) 77-56-05-93
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:yzarolvera@gmail.com">yzarolvera@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:yzarolvera@gmail.com">yzarolvera@gmail.com</a>
</address>